.todo{
    background-color: rgb(245, 241, 241);
    margin: 10px;
    width: 800px;
}

.content{
    margin: 15px;
}

.buttons{
    margin: 8px;
}

.selected-button{
    margin: 8px;
    background-color: green;
}
